#Enade - Transformação de Dados - parte 01

In [1]:
# Importar as bibliotecas necessárias
import pandas as pd
import numpy as np
import os

In [110]:
orig = open('./enade2019/3.DADOS/microdados_enade_2019.txt', 'r')
dest = open('./enade2019/3.DADOS/teste.txt', 'w')
i = 0
for line in orig:
    dest.write(line.replace(' ;', 'NA;'))
orig.close()
dest.close()

In [111]:
enade = pd.read_csv(
    './enade2019/3.DADOS/teste.txt'
    , sep = ';'
    , decimal = ','
    , low_memory = False
)

In [112]:
enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
# Verificando o schema d tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('float64'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_OBJ_FG': dtype('float64'),
 'NT_DIS_FG': dtype('float64'),
 'NT_FG_D1': dtype('float64'),
 'NT_FG_D1_PT': dtype('float64'),
 'NT_FG_D1_CT': dtype('float64'),
 'NT_FG_D2': dtype('float64'),
 'NT_FG_D2_PT': dtype('float64'),
 'NT_FG_D2_CT': dtype('float64'),
 'NT_CE': dtype('float64'),
 'NT_OBJ_CE': dtype('float64'),
 'NT_DIS_CE': dtype('float64'),
 'NT_CE_D1': dtype('float64'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('float64'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('float64'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('O')}

- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

Mais alguns itens do questionário do estudante:
- QE_I01: Qual o seu estado civil?
- QE_I02: Qual é a sua cor ou raça?
- QE_I04: Até que etapa de escolarização seu pai concluiu?
- QE_I05: Até que etapa de escolarização sua mãe concluiu?
- QE_I08: Qual a renda total de sua família, incluindo seus rendimentos?
- QE_I10: Qual alternativa a seguir melhor descreve sua situação de trabalho (exceto estágio ou bolsas)?
- QE_I11: Que tipo de bolsa de estudos ou financiamento do curso você recebeu para custear todas ou a maior parte das mensalidades? No caso de haver mais de uma opção, marcar apenas a bolsa de maior duração.
- QE_I14: Durante o curso de graduação, você participou de programas e ou atividades curriculares no exterior?
- QE_I15: Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?
- QE_I23: Quantas horas por semana, aproximadamente, você dedicou aos estudos, excetuando as horas de aula?
- QE_I25: Qual o principal motivo para você ter escolhido este curso?
- QE_I26: Qual a principal razão para você ter escolhido a sua instituição de educação superior?

In [113]:
# NT_GER
enade.NT_GER.describe()

count    390135.000000
mean         44.080390
std          14.545807
min           0.000000
25%          33.200000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [114]:
# Contar o número de nulos
enade.NT_GER.isnull().sum()

43795

In [115]:
# Quantidade de registros e quantidade de colunas
enade.shape

(433930, 137)

In [116]:
# Quantidade relativa de nulos
enade.NT_GER.isnull().sum() / enade.shape[0] * 100

10.092641670315489

In [117]:
# Acessando estatísticas descritivas da NOTA GERAL
# apenas para os alunos da REGIÃO Centro-Oeste (5)
enade.loc[
    enade.CO_REGIAO_CURSO == 5
].NT_GER.describe()

count    30769.000000
mean        44.604609
std         14.489081
min          0.000000
25%         33.900000
50%         44.500000
75%         55.300000
max         91.600000
Name: NT_GER, dtype: float64

In [118]:
# Calculando estatísticas descritivas apenas para
# alunos com NOTA maior do que zero
enade.loc[
    enade.NT_GER > 0
].NT_GER.describe()

count    389774.000000
mean         44.121216
std          14.490519
min           0.300000
25%          33.300000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [121]:
# Filtrando apenas alunos entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >= 20) &
    (enade.NU_IDADE <= 50)
].NT_GER.describe()

count    385957.000000
mean         44.153317
std          14.531880
min           0.000000
25%          33.300000
50%          43.900000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [127]:
# Tabela cruzada em porcentagem
# Contar quantos homens e mulheres
enade.TP_SEXO.value_counts() / enade.shape[0] * 100

F    53.759593
M    46.240407
Name: TP_SEXO, dtype: float64

In [130]:
# Comparar as regiões - agregar com média
enade[['NT_GER', 'NT_FG', 'NT_CE']].describe()

              NT_GER          NT_FG          NT_CE
count  390135.000000  390135.000000  390135.000000
mean       44.080390      39.838931      45.477586
std        14.545807      16.241311      16.646806
min         0.000000       0.000000       0.000000
25%        33.200000      28.500000      32.900000
50%        43.800000      39.300000      45.200000
75%        54.800000      51.300000      57.800000
max        93.000000      97.800000     100.000000

In [132]:
# Comparar médias de notas por região
enade.groupby('CO_REGIAO_CURSO').agg({
    'NT_GER': 'mean', 
    'NT_FG' : 'mean',
    'NT_CE' : 'mean'
})

                    NT_GER      NT_FG      NT_CE
CO_REGIAO_CURSO
1                40.282753  37.119037  41.320522
2                43.788555  40.057649  45.015455
3                44.016319  40.144793  45.290297
4                45.767208  40.087748  47.643763
5                44.604609  39.180022  46.396032

In [134]:
# enade.loc[
#     (enade.QE_I68 != 1) &
#     (enade.QE_I68 != 2) &
#     (enade.QE_I68 != 3) &
#     (enade.QE_I68 != 4) &
#     (enade.QE_I68 != 5) &
#     (enade.QE_I68 != 6) &
#     (enade.QE_I68 != 7) &
#     (enade.QE_I68 != 8) &
#     (enade.QE_I68.notnull())
# ]

# orig = open('./enade2019/3.DADOS/microdados_enade_2019.txt', 'r')
# dest = open('./enade2019/3.DADOS/teste.txt', 'w')
# i = 0
# for line in orig:
#     if i == 0:
#         dest.write(line)
#     elif i > 500000:
#         break
#     elif i > 430000:
#         dest.write(line.replace(' ;', 'NA;'))
#     i += 1
# #     dest.write(line)
# #     i += 1
# #     if i > 433890:
# #         break
# orig.close()
# dest.close()

# enade2 = pd.read_csv(
#     './enade2019/3.DADOS/teste.txt'
#     , sep = ';'
#     , decimal = ','
#     , dtype = { 'QE_I68': int }
# )

In [139]:
# Criar nova coluna que identifica a categoria em instituições Privada ou Pública
enade['DESC_PUBLICA'] = ''
enade.loc[
    enade.CO_CATEGAD.isin([118, 120, 121, 10005, 10006, 10007, 10008, 10009, 17634]), 
    'DESC_PUBLICA'
] = 'Privado'
enade.loc[
    enade.CO_CATEGAD.isin([93, 115, 116, 10001, 10002, 10003]), 
    'DESC_PUBLICA'
] = 'Público'

enade.DESC_PUBLICA.value_counts() / enade.shape[0] * 100

Privado    76.712603
Público    23.268960
            0.018436
Name: DESC_PUBLICA, dtype: float64

In [141]:
# Transforma a coluna de modalidade
# enade.CO_MODALIDADE.value_counts()
enade['CO_MODALIDADE'] = enade.CO_MODALIDADE.replace({
    0: 'EaD',
    1: 'Presencial'
})

enade.CO_MODALIDADE.value_counts() / enade.shape[0] * 100

Presencial    94.610191
EaD            5.389809
Name: CO_MODALIDADE, dtype: float64

In [142]:
# Transforma a coluna de região
enade['CO_REGIAO_CURSO'] = enade.CO_REGIAO_CURSO.replace({
    1: 'Norte', 
    2: 'Nordeste', 
    3: 'Sudeste', 
    4: 'Sul', 
    5: 'Centro-Oeste', 
})

enade.CO_REGIAO_CURSO.value_counts() / enade.shape[0] * 100

Sudeste         46.667665
Nordeste        21.142120
Sul             17.695942
Centro-Oeste     7.879612
Norte            6.614661
Name: CO_REGIAO_CURSO, dtype: float64

In [149]:
# Transforma a coluna de cor/raça
# enade.QE_I02.value_counts()
enade['DESC_COR'] = enade.QE_I02.replace({
    'A': 'Branca',
    'B': 'Preta',
    'C': 'Amarela',
    'D': 'Parda',
    'E': 'Indígena',
    'F': pd.NA,
    ' ': pd.NA
})

enade.DESC_COR.value_counts() / enade.shape[0] * 100

Branca      50.788376
Parda       31.288457
Preta        7.574724
Amarela      2.325951
Indígena     0.299587
Name: DESC_COR, dtype: float64

In [144]:
enade.QE_I02.value_counts()# / enade.shape[0] * 100

A    220386
D    135770
B     32869
C     10093
F      7456
E      1300
Name: QE_I02, dtype: int64

In [147]:
# Exemplo de select QE_I02 from enade where QE_I02 not in ('A', 'B', 'C', 'D', 'E', 'F')
enade.loc[
    ~enade.QE_I02.isin(['A', 'B', 'C', 'D', 'E', 'F'])
].QE_I02

4         NaN
39        NaN
48        NaN
105       NaN
202       NaN
         ...
433726    NaN
433856    NaN
433890    NaN
433898    NaN
433914    NaN
Name: QE_I02, Length: 26056, dtype: object